header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.logo-emoji {
  margin-right: 0.5rem;
}